<form action="/login" method="post">
  <input type="text" placeholder="Enter Username" name="username" required>
  <input type="password" placeholder="Enter Password" name="password" required>
  <button type="submit">submit</button>
</form>

登入狀態：<%= isLogin %>